@model BStore.Models.KhachHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Layout/AdminOK/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTinhThanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTinhThanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTaiKhoanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTaiKhoanNavigation.MaTaiKhoan)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaKhachHang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
