@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    foreach (var item in @ViewBag.ListDanhGia)
    {
        <div class="row tab-review-row">
            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 padding-5">
                <div class="tab-rating-box">
                    <span>@item.TenTaiKhoan</span>
                    <div class="review-author-info">
                        <strong><img src="~/user/img/profile/@item.AnhDaiDien" style="width: 70px; height:70px"></strong>
                        <span>@item.NgayDanhGia</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 padding-5">
                <div class="write-your-review">
                    <p><strong>@item.TenTaiKhoan 's Comment</strong></p>
                    <p></p>
                    <span class="usefull-comment">@item.LoiNhanXet</span>

                </div>
            </div>

        </div>
        }

    }