@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Layout/User/Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- MAIN-SLIDER-AREA START -->
        <div class="main-slider-area">
            <!-- SLIDER-AREA START -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="slider-area">
                    <div id="wrapper">
                        <div class="slider-wrapper">
                            <div id="mainSlider" class="nivoSlider">

                                @{
                                    foreach (var item in ViewBag.ListBanner)
                                    {
                                        <img src="~/user/banner/@item.LinkBanner" alt="main slider" title="#@item.MaBanner" style="height:870px;width:432px;" />
                                    }
                                }
                            </div>

                            @*@{
                                    foreach (var item in ViewBag.ListBanner)
                                    {
                                        <div id="@item.MaBanner" class="nivo-html-caption slider-caption">
                                            <div class="slider-progress"></div>
                                            <div class="slider-cap-text slider-text1">
                                                <div class="d-table-cell">
                                                    <h2 class="animated bounceInDown">@item.TitleBanner</h2>
                                                    <p class="animated bounceInUp">@item.ContentBanner.</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- SLIDER-AREA END -->
            <!-- SLIDER-RIGHT START -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="slider-right zoom-img m-top">
                    <a href="#"><img class="img-responsive" src="~/user/products/biaduc.jpg" alt="sidebar left" /></a>
                </div>
            </div>
            <!-- SLIDER-RIGHT END -->
        </div>
        <!-- MAIN-SLIDER-AREA END -->
    </div>
    <!-- TOW-COLUMN-PRODUCT START -->
    <div class="row tow-column-product">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- NEW-PRODUCT-AREA START -->
            <div class="new-product-area">
                <div class="left-title-area">
                    <h2 class="left-title">New Products</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <!-- NEW-PRO-CAROUSEL START -->
                            <div class="new-pro-carousel">
                                <!-- NEW-PRODUCT-SINGLE-ITEM START -->
                                @{
                                    foreach (var item in ViewBag.ListProduct)
                                    {
                                        <div class="item">
                                            <div class="new-product">
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#"><img src="~/user/products/@item.HinhAnh" alt="product-image" style="width:225px ; height:225px" /></a>
                                                        <a href="#" class="new-mark-box">new</a>
                                                        <div class="overlay-content">
                                                            <ul>
                                                                <li><a asp-controller="InfomationProduct" asp-action="Index" asp-route-id="@item.MaThucDon"><button><i class="fa fa-search"></i></button></a></li>

                                                                <li class="order-button"><a><button type="button" title="Quick view" data-id="@item.MaThucDon"><i class="fa fa-shopping-cart"></i></button></a></li>
                                                                @*<li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                                                    <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>*@
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="customar-comments-box">


                                                        </div>
                                                        <a href="single-product.html">@item.TenThucDon</a>
                                                        <div class="price-box">
                                                            <span class="price">  @String.Concat(string.Format("{0:N0}", @item.GetGiaKhuyenMai), "Đ")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                <!-- NEW-PRODUCT-SINGLE-ITEM START -->
                            </div>
                            <!-- NEW-PRO-CAROUSEL END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- NEW-PRODUCT-AREA END -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- SALE-PRODUCTS START -->
            <div class="Sale-Products">
                <div class="left-title-area">
                    <h2 class="left-title">Sale Products</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <!-- SALE-CAROUSEL START -->
                            <div class="sale-carousel">
                                @{
                                    foreach (var item in ViewBag.ListDiscount)
                                    {
                                        <div class="item">
                                            <div class="new-product">
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#"><img src="~/user/products/@item.HinhAnh" alt="product-image" style="width:225px ; height:225px" /></a>
                                                        <a href="#" class="new-mark-box">SALE - @item.KhuyenMai %</a>
                                                        <div class="overlay-content">
                                                            <ul>
                                                                <li><a asp-controller="InfomationProduct" asp-action="Index" asp-route-id="@item.MaThucDon"><button><i class="fa fa-search"></i></button></a></li>

                                                                <li class="order-button"><a><button type="button" title="Quick view" data-id="@item.MaThucDon"><i class="fa fa-shopping-cart"></i></button></a></li>
                                                                @*<li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                                                    <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>*@
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="customar-comments-box">

                                                        </div>
                                                        <a href="single-product.html">@item.TenThucDon</a>
                                                        <div class="price-box">
                                                            <span class="price">@String.Concat(string.Format("{0:N0}", @item.GetGiaKhuyenMai), "Đ")</span>
                                                            <span class="old-price"> @String.Concat(string.Format("{0:N0}", @item.Gia), "Đ")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                <!-- SALE-PRODUCTS-SINGLE-ITEM START -->
                                <!-- SALE-PRODUCTS-SINGLE-ITEM END -->
                                <!-- SALE-PRODUCTS-SINGLE-ITEM END -->
                            </div>
                            <!-- SALE-CAROUSEL END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- SALE-PRODUCTS END -->
        </div>
    </div>


    @* Vùng 2 *@
    <div class="row tow-column-product">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- NEW-PRODUCT-AREA START -->
            <div class="new-product-area">
                <div class="left-title-area">
                    <h2 class="left-title">Hot Products</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <!-- NEW-PRO-CAROUSEL START -->
                            <div class="new-pro-carousel">
                                <!-- NEW-PRODUCT-SINGLE-ITEM START -->
                                @{
                                    foreach (var item in ViewBag.ListProductHot)
                                    {
                                        <div class="item">
                                            <div class="new-product">
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#"><img src="~/user/products/@item.HinhAnh" alt="product-image" style="width:225px ; height:225px" /></a>
                                                        <a href="#" class="new-mark-box">Hot</a>
                                                        <div class="overlay-content">
                                                            <ul>
                                                                <li><a asp-controller="InfomationProduct" asp-action="Index" asp-route-id="@item.MaThucDon"><button><i class="fa fa-search"></i></button></a></li>

                                                                <li class="order-button"><a><button type="button" title="Quick view" data-id="@item.MaThucDon"><i class="fa fa-shopping-cart"></i></button></a></li>
                                                                @*<li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                                                    <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>*@
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="customar-comments-box">

                                                        </div>
                                                        <a href="single-product.html">@item.TenThucDon</a>
                                                        <div class="price-box">
                                                            <span class="price"> @String.Concat(string.Format("{0:N0}", @item.GetGiaKhuyenMai), "Đ")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                <!-- NEW-PRODUCT-SINGLE-ITEM START -->
                            </div>
                            <!-- NEW-PRO-CAROUSEL END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- NEW-PRODUCT-AREA END -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- SALE-PRODUCTS START -->
            <div class="Sale-Products">
                <div class="left-title-area">
                    <h2 class="left-title">Widely viewed Products</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <!-- SALE-CAROUSEL START -->
                            <div class="sale-carousel">
                                @{
                                    foreach (var item in ViewBag.ListProductViews)
                                    {
                                        <div class="item">
                                            <div class="new-product">
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#"><img src="~/user/products/@item.HinhAnh" alt="product-image" style="width:225px ; height:225px" style="width:225px ; height:225px" /></a>
                                                        <a href="#" class="new-mark-box">View : @item.LuotXem</a>
                                                        <div class="overlay-content">
                                                            <ul>
                                                                <li><a asp-controller="InfomationProduct" asp-action="Index" asp-route-id="@item.MaThucDon"><button><i class="fa fa-search"></i></button></a></li>

                                                                <li class="order-button"><a><button type="button" title="Quick view" data-id="@item.MaThucDon"><i class="fa fa-shopping-cart"></i></button></a></li>
                                                                @*<li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                                                    <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>*@
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="customar-comments-box">

                                                        </div>
                                                        <a href="single-product.html">@item.TenThucDon</a>
                                                        <div class="price-box">
                                                            <span class="price"> @String.Concat(string.Format("{0:N0}", @item.GetGiaKhuyenMai), "Đ") VNĐ</span>
                                                            <span class="old-price"> @String.Concat(string.Format("{0:N0}", @item.Gia), "Đ")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                <!-- SALE-PRODUCTS-SINGLE-ITEM START -->
                                <!-- SALE-PRODUCTS-SINGLE-ITEM END -->
                                <!-- SALE-PRODUCTS-SINGLE-ITEM END -->
                            </div>
                            <!-- SALE-CAROUSEL END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- SALE-PRODUCTS END -->
        </div>
    </div>
    <!-- TOW-COLUMN-PRODUCT END -->

    <div class="row">
        <!-- FEATURED-PRODUCTS-AREA START -->
        <div class="featured-products-area">
            <div class="center-title-area">
                <h2 class="center-title">Featured Products</h2>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <!-- FEARTURED-CAROUSEL START -->
                    <div class="feartured-carousel">
                        <!-- SINGLE-PRODUCT-ITEM START -->
                        @{
                            foreach (var item in ViewBag.ListProductFULL)
                            {
                                <div class="item">
                                    <div class="new-product">
                                        <div class="single-product-item">
                                            <div class="product-image">
                                                <a href="#"><img src="~/user/products/@item.HinhAnh" alt="product-image" style="width:225px ; height:225px" /></a>
                                                @{
                                                    if (@item.KhuyenMai != 0)
                                                    {
                                                        <a href="#" class="new-mark-box">SALE -@item.KhuyenMai %</a>
                                                    }
                                                }


                                                <div class="overlay-content">
                                                    <ul>
                                                        <li><a asp-controller="InfomationProduct" asp-action="Index" asp-route-id="@item.MaThucDon"><button><i class="fa fa-search"></i></button></a></li>

                                                        <li class="order-button"><a><button type="button" title="Quick view" data-id="@item.MaThucDon"><i class="fa fa-shopping-cart"></i></button></a></li>
                                                        @*<li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                                            <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>*@
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="customar-comments-box">


                                                </div>
                                                <a href="single-product.html">@item.TenThucDon</a>
                                                <div class="price-box">
                                                    <span class="price">@String.Concat(string.Format("{0:N0}", @item.GetGiaKhuyenMai), "Đ")</span>
                                                    @{
                                                        if (@item.KhuyenMai != 0)
                                                        {
                                                            <span class="old-price">@String.Concat(string.Format("{0:N0}", @item.Gia), "Đ")</span>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                        <!-- SINGLE-PRODUCT-ITEM END -->
                    </div>
                    <!-- FEARTURED-CAROUSEL END -->
                </div>
            </div>
        </div>
        <!-- FEATURED-PRODUCTS-AREA END -->
    </div>

</div>

<!-- BRAND-CLIENT-AREA START -->
<section class="brand-client-area">
    <div class="container">
        <div class="row">
            <!-- BRAND-CLIENT-ROW START -->
            <div class="brand-client-row">
                <div class="center-title-area">
                    <h2 class="center-title">BRAND</h2>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <!-- CLIENT-CAROUSEL START -->
                        <div class="client-carousel">

                            @{
                                foreach (var item in ViewBag.ThuongHieu)
                                {
                                    <div class="item">
                                        <div class="single-client">
                                            <a href="#">
                                                <img src="~/user/trademark/@item.HinhAnh" alt="brand-client" />
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            <!-- CLIENT-SINGLE START -->


                        </div>
                        <!-- CLIENT-CAROUSEL END -->
                    </div>
                </div>
            </div>
            <!-- BRAND-CLIENT-ROW END -->
        </div>
    </div>
</section>
<!-- BRAND-CLIENT-AREA END -->