@model BStore.Models.BannerQuangCao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/AdminOK/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BannerQuangCao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkBanner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkBanner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleBanner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleBanner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentBanner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentBanner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaBanner">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
