@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/User/Layout.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">THANH TOÁN</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- About Generic Start -->

<div class="main-wrapper">
    <div class="container checkout-area">
        @if (ViewBag.Success != null)
        {
            if (ViewBag.Success == true)
            {
                <div class="alert alert-success" role="alert">
                    Đơn hàng của bạn đã được gửi đi.
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Giỏ hàng đang trống. Bạn không thể thanh toán.
                </div>
            }

        }
        @if (Context.Session.GetString("USERNAME_SESSION") == null && ViewBag.Success == null)
        {

            <div class="alert alert-info" role="alert">
                VUI LÒNG ĐĂNG NHẬP!
                <a asp-action="Index" asp-controller="Login">Đăng nhập</a>
                @*Nếu bạn có tài khoản. Hãy <a asp-action="Index" asp-controller="Login">đăng nhập</a> để có thể xem thông tin đơn hàng*@
            </div>
        }
        else
        {
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        <form asp-controller="Checkout" asp-action="AddOrder" id="form-info">
                            <input name="account_id" value="@Context.Session.GetString("ID_SESSION")" hidden />
                            <div class="form-field">
                                <label for="fullname" style="text-align: left">
                                    Họ tên
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <input type="text" name="fullname" id="fullname" value="" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="address" style="text-align: left">
                                    Địa chỉ
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <input type="text" name="address" id="address" value="" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="email" style="text-align: left">
                                    Email
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <input type="text" name="email" id="email" value="" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="city" style="text-align: left">
                                    Thành phố
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <select name="city" id="city" class="form-control">
                                    @foreach (var city in ViewBag.City)
                                    {
                                        <option value="@city.MaTinhThanh">@city.TenTinhThanh</option>
                                    }
                                </select>
                            </div>
                            <div class="form-field">
                                <label for="email" style="text-align: left">
                                    Số điện thoại
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <input type="text" name="tel" id="email" value="" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="note" style="text-align: left">
                                    Ghi chú đặt hàng
                                </label>
                                <textarea name="note" value="" id="" cols="30" rows="5" class="form-control" placeholder="Ghi chú về đơn đặt hàng"></textarea>
                            </div>
                            <div class="form-field cart-checkout">
                                <h5>Đơn hàng của bạn</h5>
                                <table class="cart-item">
                                    <thead>
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th style="width: 70%">Tổng cộng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Cart != null)
                                        {
                                            foreach (var item in ViewBag.Cart)
                                            {
                                                <tr>
                                                    <td>@item.TenThucDon x @item.SoLuong</td>
                                                    <td>$@string.Format("{0:N2}", item.GiaBan)</td>
                                                </tr>
                                            }
                                        }
                                        @if (ViewBag.Total == 0)
                                        {
                                            <tr>
                                                <td colspan="2" style="padding-left: 80px">Chưa có sản phẩm trong giỏ</td>
                                            </tr>
                                        }

                                        <tr>
                                            <td><strong>Subtotal</strong></td>
                                            <td>$@string.Format("{0:N2}", ViewBag.Total)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Coupon</strong></td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total</strong></td>
                                            <td><strong>$@string.Format("{0:N2}", ViewBag.Total)</strong></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="form-field">
                                <button class="checkout-button btn btn-default">THANH TOÁN</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="/Paypal/CheckoutPaypal"><button>Paypal</button></a>
                        <button>Ví điện tử</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function onBtnPayPal() {
        var obj = {};
        $.each($("#form-info").serializeArray(), function (k, v) {
            obj[v.name] = v.value;
        });

        console.log(obj);
        
        //$.post(
        //    '/Paypal/CheckoutPaypal',
        //    {
        //        CommandAction: {
        //            CartInfo: obj
        //        }
        //    },
        //    function (result) {
        //        if (result.IsSuccess == true) {
        //            //callback(result);
        //        }
        //    }
        //);
    }
</script>
